.hojadeVida{
    display: grid;
    grid-template-areas: "header header header header " 
    "aside main main section"
    "aside education_dat education_dat education_dat "
    "experiencia_dat experiencia_dat competencias_dat competencias_dat" 
    "footer footer footer footer";
}
.hojadeVida header{
    grid-area: header;
    background-color: #565656;
    text-align: center;
    
}
.hojadeVida aside{
    grid-area: aside;
    position: auto;
    
   
}
.hojadeVida main{
    grid-area: main;
    background-color: #b86800;
}
.hojadeVida section{
    grid-area: section ;
    background-color: #749ef3;
}
.hojadeVida section.educacion_dat{
    grid-area: education_dat;
    background-color: #8f821e;
}
.hojadeVida section.experiencia_dat{
    grid-area: experiencia_dat;
    background-color: #6beaea;
}
.hojadeVida section.competencias_dat{
    grid-area: competencias_dat;
    background-color: #f9d0ff;
}
.hojadeVida footer{
    grid-area: footer;
    background-color: chocolate;
}
